@import "tailwindcss";



body {

  /* min-height: 100vh; */

background: radial-gradient(
    circle at top right,
    #ff1a1a,
    #1a1a1a,
    #000000
  );
  backdrop-filter: blur(6px);


  background-size: 300% 300%;

  animation: bgMove 10s ease infinite;

  /* display: flex; */

  /* justify-content: center; */

  /* align-items: center; */

  /* padding: 20px; */

}

 

/* Background animation */

@keyframes bgMove {

  0% { background-position: 0% 50%; }

  50% { background-position: 100% 50%; }

  100% { background-position: 0% 50%; }

}